/* src/index.css */
@import "tailwindcss";

@layer base {
  html, body, #root {
    height: 100%;
  }
  body {
    margin: 0;
    background-color: #ffffff; /* fondo blanco normal */
    color: #0a0a0a;
  }
}

@layer components {}
@layer utilities {}
